<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ViberBotToken" value="4eb06b7dd9a7e4e1-52cb9e1fec380951-55d0c0ee46bdb6b"/>
		<add key="TelegramBotToken" value="5176671398:AAFP0RxoaoXPsPklGOR3E3UyYCMvCkMMNMA"/>
		<add key="TelegramBotTimeoutMilliseconds" value="500"/>
	</appSettings>
</configuration>